header {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  animation-iteration-count: infinite;
}

#caroussel {
  overflow: 1000px;
}
.images {
  display: flex;
  animation-duration: 10s;
  animation-name: mesimages;
}

@keyframes mesimages {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-640px);
  }
  50% {
    transform: translateX(-1280px);
  }
  75% {
    transform: translateX(-1920px);
  }
  100% {
    transform: translateX(0);
  }
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

.cb-slideshow,
.cb-slideshow:after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
  background-color: #131313;
}
.cb-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: imageAnimation 36s linear infinite 0s;
  -moz-animation: imageAnimation 36s linear infinite 0s;
  -o-animation: imageAnimation 36s linear infinite 0s;
  -ms-animation: imageAnimation 36s linear infinite 0s;
  animation: imageAnimation 36s linear infinite 0s;
}
.cb-slideshow li div {
  z-index: 1000;
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  -webkit-animation: titleAnimation 36s linear infinite 0s;
  -moz-animation: titleAnimation 36s linear infinite 0s;
  -o-animation: titleAnimation 36s linear infinite 0s;
  -ms-animation: titleAnimation 36s linear infinite 0s;
  animation: titleAnimation 36s linear infinite 0s;
}
.cb-slideshow li div h3 {
  font-family: "Open Sans";
  font-size: 70px;
  padding-left: auto;
  line-height: 50px;
  color: #e96840;
}

.cb-slideshow li:nth-child(1) span {
  background-image: url(../images/unsplash1.jpg);
}
.cb-slideshow li:nth-child(2) span {
  background-image: url(../images/unsplash2.jpg);
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
  background-image: url(../images/unsplash3.jpg);
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
  background-image: url(../images/unsplash4.jpg);
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
  background-image: url(../images/unsplash5.jpg);
  -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  -o-animation-delay: 24s;
  -ms-animation-delay: 24s;
  animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) span {
  background-image: url(../images/unsplash6.jpg);
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  -o-animation-delay: 30s;
  -ms-animation-delay: 30s;
  animation-delay: 30s;
}
.cb-slideshow li:nth-child(2) div {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) div {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) div {
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) div {
  -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  -o-animation-delay: 24s;
  -ms-animation-delay: 24s;
  animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) div {
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  -o-animation-delay: 30s;
  -ms-animation-delay: 30s;
  animation-delay: 30s;
}
/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes imageAnimation {
  0% {
    opacity: 0;
    -moz-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -moz-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes imageAnimation {
  0% {
    opacity: 0;
    -o-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -o-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes imageAnimation {
  0% {
    opacity: 0;
    -ms-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -ms-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* Animation for the title */
@-webkit-keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span {
  opacity: 1;
}

@media screen and (max-width: 1140px) {
  .cb-slideshow li div h3 {
    font-size: 80px;
  }
}
@media screen and (max-width: 600px) {
  .cb-slideshow li div h3 {
    font-size: 40px;
  }
}
@media screen and (min-width: 600px) {
  .cb-slideshow li div h3 {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 20px;
    text-align: center;
  }
}
img.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}
/* .scroll-filter {
  background-color: rgba(0, 0, 0, 0.5);
} */
.intro-scroller {
  position: absolute;
  left: 0px;
  text-align: center;
  z-index: 9999;
  width: 100%;
  bottom: 20px;
}
.intro-scroller p {
  color: #fff;
}
.scroll-down {
  background-color: #1e1e1e;
  width: 100%;
  height: 60px;
  position: center;
  text-align: center;
}
.custom-scroll {
  color: #fff;
}
.mouse-icon {
  border: 2px solid;
  border-radius: 15px;
  bottom: 70px;
  height: 50px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 27px;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.mouse-icon:hover {
  opacity: 0.3 !important;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

a.inner-link {
  color: #fff;
  text-decoration: none;
}

.mouse-icon {
  background: none;
  border: 2px solid;
  border-radius: 15px;
  bottom: 0px;
  height: 44px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 30px;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.mouse-icon:hover {
  opacity: 0.8 !important;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.mouse-icon .wheel {
  -webkit-animation: 1.7s ease 0s normal none infinite magic-mouse-icon;
  -moz-animation: 1.7s ease 0s normal none infinite magic-mouse-icon;
  -o-animation: 1.7s ease 0s normal none infinite magic-mouse-icon;
  animation: 1.7s ease 0s normal none infinite magic-mouse-icon;
  border-radius: 30%;
  background: #fff;
  height: 12px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  right: 0;
  width: 6px;
}
@-moz-keyframes magic-mouse-icon {
  0% {
    margin-top: 6px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    margin-top: 18px;
    opacity: 0;
  }
}
@-webkit-keyframes magic-mouse-icon {
  0% {
    margin-top: 6px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    margin-top: 18px;
    opacity: 0;
  }
}
@-o-keyframes magic-mouse-icon {
  0% {
    margin-top: 6px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    margin-top: 18px;
    opacity: 0;
  }
}
@keyframes magic-mouse-icon {
  0% {
    margin-top: 6px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    margin-top: 18px;
    opacity: 0;
  }
}
